* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    /* tamanho da fonte */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* tipo fonte */ 
    background-color: #e6e6e6;

}

#area-cabecalho{
    background-color: #f7b600;
    text-align: center;
    padding: 15px;


}