* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    /* tamanho da fonte */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* tipo fonte */
    background-color: #e6e6e6;
    

}

#area-cabecalho {
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#arealogo,#area-menu {

    padding: 10px;

}

#area-principal {
    
    width: 920px;
    margin: 0;
    padding: 15px;
}

#area-postagens {
    float: left;
    width: 660px;

}
#cor-postagem{
    color: #f7b600;
}

#area-lateral {

    width: 240px;
    float: right;

}

.postagem {

    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;

}

.conteudo-lateral {

    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 20px;

}

.postagem-lateral {

    font-size: 12px;
    padding: 5px;
    border-bottom: 1px dotted #ccc;

}

#rodape {

    text-align: center;
    padding: 15px;
    background-color: #ccc;
    clear: both;

}

.data-postagem {

    font-size: 12px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;

}

/* Links */

a {

    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

a:link, a:visited {

    color:#f7b600

}

#area-cabecalho a:link, #area-cabecalho a:visited{

    color: #fff;
    padding: 8px 12px;

}

#area-cabecalho a:hover {

    color: #f7b600;
    background-color: #fff;
    text-decoration: none;

}